.dialogWindow {
  display: flex;
  margin-bottom: 20px;
}
.dialogNavLink {
  display: flex;
}
.dialog a{
  color: rgba(255, 255, 255, 0.822);
}
.dialog {
  padding-top: 15px;
}
.avatar {
  width: 40px;
}
.userName {
  display: flex;
  align-items: center;
}
.dialogsUser {
  padding-left: 20px;
}
.messages {
  padding-left: 20px;
  width: 80%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.messageItem {
  border: 1px solid grey;
  border-radius: 50%;
  margin-top: 20px;
  padding: 20px;
  width: 120px;
  align-self: center;
}