.nav {
  background-color: bisque;
  flex-basis: 20%;
}
.item a:link {
  color: rgb(233, 125, 225);
}
.item a {
  color: rgb(154, 158, 118);
}
.item .active {
  color: rgb(182, 58, 14);
}
a {
  text-decoration: none;
}